.full-layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.main {
  position: absolute;
  left: 85px;
  left: 76px;
  top: 8rem;
  width: calc(100% - 80px);
  min-height: 100%;
  transition: all 0.3s linear;
 
}
