/* Navigation bar styling */
@import "/src/styles.scss";
.navigation {
  position: fixed !important;
  top: 0px;
  width: var(--nav-width);
  height: 100vh !important;
  box-sizing: initial;
  border-left: 5px solid var(--nav-background);
  background-color: var(--nav-background);
  transition: width 0.3s linear;
  overflow: hidden;
  /* When the navigation bar is active */
  &.active-nav {
    width: var(--nav-width-active);
  }
  /* Adds a horizontal line before the navigation bar content */
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.205);
    position: absolute;
    top: 8rem;
  }
}
/* Logo styling */
.logo {
  position: relative;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%) translateY(-2rem);
  width: 40px !important;
  min-width: 30%;
  height: 40px;
  @include flexbox(flex, row, center, center);
  /* Image inside the logo */
  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}
/* Unordered list styling */
.ul {
  width: 100%;
  margin-left: 5px;
  margin-top: 6.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
/* List items styling */
.list__items {
  position: relative;
  height: 4.5rem;
  height: 5rem;
  @include flexbox(flex, row, none, center);
  cursor: pointer;
}
/* Anchor tag styling */
.a {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
/* Icon styling */
.icon {
  display: block;
  font-size: 2.2rem;
  min-width: 60px;
  color: #545564;
  text-align: center;
  transition: color 0.3s linear;
  line-height: 60px;
  /* Active state for icon */
  &.active {
    color: white;
  }
}
/* Title styling */
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: block;
  color: black;
  white-space: normal;
  text-transform: capitalize;
  font-size: 1.7rem;
  overflow: hidden !important;
  margin-left: 10rem;
  opacity: 0;
  color: #545564;
  transition: all 0.3s linear;
  /* Active state for title */
  &.active {
    color: #6259ca;
    font-weight: 500;
  }
  /* Active state for margin and opacity */
  &.active-margin {
    margin-left: 0rem;
    opacity: 1;
  }
}
/* Active navigation state */
.activeNav {
  width: 300px;
  width: 200px;
}
/* Slider and border styling */

.slide {
  width: calc(100% - 1.2rem);
  height: 4.5rem;
  height: 5rem;
  position: absolute;
  left: 1.2rem;
  background-color: var(--layout-backgrounf);
  border-radius: 300px 0px 0px 300px;
  transition: all 0.3s linear, background 0s;
  /* Before pseudo-element for slider */
  &::before {
    position: absolute;
    content: "";
    width: 4rem;
    height: 4rem;
    border-radius:var(--border-radius-circle);
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.4rem;
    background-color: #6259ca !important;
  }
}
/* Styling for specific child elements */
.b:nth-child(1) {
  position: absolute;
  top: -20px;
  right: 0;
  height: 20px;
  width: 100%;
  background-color: var(--layout-backgrounf);
}
/* Before pseudo-element for first child */
.b:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
  background-color: var(--nav-background);
}

/* Styling for second child element */
.b:nth-child(2) {
  position: absolute;
  bottom: -20px;
  height: 20px;
  width: 100%;
  right: 0;
  background-color: #d2d7f0;
  overflow: hidden !important;
}

.dynamic .b:nth-child(2) {
  background-color: #252538;
}

.dynamic .b:nth-child(1) {
  background-color: #252538;
}

/* Before pseudo-element for second child */
.b:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  background-color: var(--nav-background);
  overflow: hidden !important;
}
